/* -------------- IMPORT DES POLICES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600&display=swap');



/* -------------- CSS POUR L'ENSEMBLE DES PAGES -------------- */
body {
	font-family:'Work Sans', sans-serif;
	font-weight: 500;
	margin: 0;
}



/* ------------------------ TITRE ------------------------ */
h1 {
	margin: 2%;
}



/* ------------------------ CASES DES HORAIRES ------------------------ */

.box {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
} 

/* ------------------------ HORAIRES ------------------------ */

.times {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 6%;
} 

.days {
	margin-left: 4%;
	margin-right: 8%;
}

.days p {
	font-size: 125%;
	margin: 16% auto;
}

.hours p {
	font-size: 70%;
	margin: 0% auto;
}

.hours-input p{
	margin-top: 2.5%;
}

.hours-input {
	display: flex;
	flex-direction: row;
	margin-top: 3%;
}

.hours-input input {
	width: 55px;
	margin: 1%;
}

.next-hours-input {
	margin-top: 8%;
}

/* ------------------------ BOUTONS AJOUTER HEURES ET ------------------------ */

.add-buttons {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 4%;
	margin-top: 4%;

}

.add-buttons a {
	font-family:'Work Sans', sans-serif;
	color: black;
	/* text-decoration: none; */
}

.add-day-button {
	margin-right: 12%;
}

.add-hours-button {
	margin-right: 5%;
}

#add-button {
	background-color: #EF9785;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
}


#add-button button {
	font-family:'Work Sans', sans-serif;
	font-weight: 500;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 3vh;
}

#save-button {
	background-color: #0F4873;
	padding-top: 4%;
	padding-bottom: 4%;
	text-align: center;
	position: fixed;
	bottom: 0px;
	width: 100%;
}


#save-button button {
	color: white;
	font-family:'Work Sans', sans-serif;
	font-weight: 500;
	background: none;
	border: none;
	cursor: pointer;
	font-size: 3vh;
}