/* -------------- IMPORT DES POLICES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* -------------- CSS POUR L'ENSEMBLE DES PAGES -------------- */
body {
	font-family:'Work Sans', sans-serif;
	margin: 0;
	text-align: left;
}

#content-container {
	height: 650px;
}



/* -------------- BARRE DE NAVIGATION -------------- */

#navbar {
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 25px -6px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 8vh;
	align-items: center;
}

#navbar a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	float: left;	
  	padding: 2.5vh 2vh;
}

#navbar button {
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	float: left;	
  	padding: 2.5vh 1vh;
}

#modify-button {
	float: right;
}

button {
	font-family:'Work Sans', sans-serif;
	background: none;
	border: none;
	cursor: pointer;
}

#save-button {
	float: right;
}

#save-button a {
	color: #1975BA;
}

/* ----------------------- CONTENU PRINCIPAL ----------------------- */

#maincontent-container {
	height: 79vh;
	align-items: center;
	position: relative;
}

/* ----------------- PHOTO DE PROFIL ----------------- */

#profile-picture{
	text-align: center;
	margin: 3%;
}

#profile-picture img {
	height: 20%;
}

/* ----------------- APERÇU DU PROFIL (pour les prototypes X-13 et X-16) ----------------- */
#profil-overview {
	display: flex;
	flex-direction: row;
	text-align: right;
	align-items: center;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 2%;
	padding-bottom: 2%;
}

#user-infos {
	margin-right: 3%;
	margin-left: auto;
}

#account-image {
	margin-right: 2%;
}

#account-image img {
	height: 16vh;
}

/* ----------------- PHOTO RESTAURANT (pour le prototype X-14) ----------------- */

#restaurant-image {
	background-color: #004413;
	padding: 2%;
}

#user-infos p {
	font-size: 75%;
}

#restaurant-image img {
	height: 10vh;
}

/* ----------------- LES DIFFÉRENTES BOXES ----------------- */

.box {
	border-top: 2px solid black;
	font-size: 14px;
	/* width: auto; */
	height: auto;
	padding: 3.5% 4% 3.5% 4%;
}

.box a {
	text-decoration: none;
	font-weight: 600;
	color: black;
}

.box p {
	margin: 0;
	font-weight: 600;
}

.box span {
	font-weight: 500;
}

.box button {
	font-weight: 600;
	padding: 0;
}

/* ----------------- MOT DE PASSE ----------------- */

#password {
	border: none;
	background: none;
	width: 60%;
	padding: 0;
	margin: 1% 1.5% 0.5% 2%;
}

#password:focus {
	outline: none;
}

#editable-password {
	border: 1px solid black;
	border-radius: 3px;
	background: none;
	width: 60%;
	padding: 0;
	padding-left: 1%;
	margin: 1% 1.5% 0.5% 2%;
}

#check-button {
	margin-left: 1%;
	margin-bottom: 2%;
}

#password-text {
	margin-top: auto;
	margin-bottom: auto;
	
}

/* ----------------- SUPPRIMER MON COMPTE ----------------- */

#delete-account {
	color: red;
	position: sticky;
	bottom: 10vh;
	background-color: white;
}

#delete-account button {
	color: red;
}

/* ------------------------- STATISTIQUES (pour le prototype X-14) ------------------------- */

#statistics p {
	margin: 2%;
	margin-left: 2%;
	font-weight: 500;
	margin-right: 4.5%;
	transition: all 0.4s ease;
	transform: translateY(10px);
	display: none;
}

#statistics button {
	margin-bottom: 1%;
}

#statistics span {
	float: right;
}

#statistics button:focus ~ p {
	display: block;
}

/* ------------------------- BOOSTER SON RESTAURANT ------------------------- */

#boost-restaurant {
	background-color: #FFF3EA;
	border-bottom: 2px solid black;
	
}
#boost-restaurant div {
	display: flex;
    align-items: center;
	justify-content: center;
}

/* ------------------------- FOOTER ------------------------- */

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -4px 25px -6px rgba(0, 0, 0, 0.25);
	text-align: center;
	height: 10vh;
	width: 100%;	
	overflow: hidden;
}

footer img {
	width: auto;
	height: 70%;
	margin-right: 3%;
	margin: 3%;
}

footer a {
	text-decoration: none;
}