/* -------------- IMPORT DES POLICES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');

/* -------------- CSS POUR L'ENSEMBLE DES PAGES -------------- */
body {
	font-family:'Work Sans', sans-serif;
	margin: 0;
}

#content-container {
	height: 650px;
}

button {
	font-family:'Work Sans', sans-serif;
	background: none;
	border: none;
	cursor: pointer;
}

/* -------------- BARRE DE NAVIGATION -------------- */

#navbar {
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 4px 25px -6px rgba(0, 0, 0, 0.25);
	width: 100%;
	height: 8vh;
	align-items: center;
}

#navbar a {
	text-decoration: none;
	color: black;
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	float: left;	
  	padding: 2.5vh 2vh;
}

#save-button {
	float: right;
}

#save-button a {
	color: #1975BA;
}

#navbar button {
	font-weight: 600;
	text-align: center;
	font-size: 14px;
	float: left;	
  	padding: 2.5vh 1vh;
}

/* ----------------------- CONTENU PRINCIPAL ----------------------- */

#maincontent-container {
	height: 79vh;
	align-items: center;
	position: relative;
}

/* ----------------- PHOTO DE PROFIL ----------------- */

#profile-picture{
	text-align: center;
	margin: 3%;
}

#profile-picture img {
	height: 20%;
}

/* ----------------- INFORMATIONS DE L'UTILISATEUR ----------------- */

.box {
	border-top: 2px solid black;
	font-size: 14px;
	width: 100%;
	height: auto;
	padding: 3.5% 4% 3.5% 4%;

}

.box p {
	margin: 0;
	font-weight: 600;
}

.box span {
	font-weight: 500;
}

.box button {
	font-weight: 600;
	padding: 0;
}

/* ----------------- MOT DE PASSE ----------------- */

#password {
	border: none;
}

#password:focus {
	outline: none;
}

#check-button {
	margin-left: 1%;
	margin-bottom: 2%;
}

#password-text {
	margin-bottom: 0%;
}

/* ----------------- SUPPRIMER MON COMPTE ----------------- */

#delete-account {
	color: red;
	position: sticky;
	bottom: 10vh;
	background-color: white;
}

#delete-account button {
	color: red;
}


/* ------------------------- FOOTER ------------------------- */

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.25);
	box-shadow: 0 -4px 25px -6px rgba(0, 0, 0, 0.25);
	text-align: center;
	height: 10vh;
	width: 100%;	
	overflow: hidden;
}

footer img {
	width: auto;
	height: 70%;
	margin-right: 3%;
	margin: 3%;
}

footer a {
	text-decoration: none;
}