
/*Voir le document Figma pour comprendre les Frames */
:root{
    
    background-color: #ffffff;
    font-family: 'Sofia Pro', sans-serif;
}

html{

    width: 100%;
}

/*-----IMPORT DES POLICES-----*/

@import url('http://fonts.cdnfonts.com/css/sofia-pro');



/*-----BARRE DE NAVIGATION EN HAUT DE PAGE-----*/

#navigation{

    position: absolute;
    width: 100%;
    height: 54px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/*Bouton Ligne Retour*/

#line-1{

/* Line 8 */

position: static;
width: 20px;
height: 0px;
left: 0px;
top: 7px;
border: 2px solid #000000;
background-color: black;

/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

/* Bloc retour+ligne */

#return{

/* Frame 80 */

/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
width: 73px;
height: 14px;
left: 20px;
top: 20px;

}



/*-----BLOC CONTENEUR PRINCIPAL-----*/
/*correspond au bloc comprenant les deux principaux bloc nouvelles adresses et lieu déjà utilisé*/

#hight-and-middle-block{

/* Frame 84 */

/* Auto Layout */

display: flex;
flex-direction: column;

padding: 0px;

position: absolute;
width: 100%;
height: 375px;
left: 0px;
top: 101px;

}

/*correspond au bloc global regroupant les cases adresses, ville et code postal + le texte "Nouvelles adresses"*/

#nouvelles-adresses{

    position: absolute;
    width: 110px;
    height: 14px;
    left: 21px;
    top: 0px;

    font-family: Sofia Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #000000;
}


/*à partir d'ici, les propriétés suivantes
 regroupent les bloc adresses et ville|code postal*/

.barre-de-selection{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

    font-size: 18px;
    position: absolute;
    width: 90%;
    height: 42px;
    left: 20px;
    

    background: #FFFFFF;
    border: 2px solid #000000;
    box-sizing: border-box;
}

#adresse{

    top: 24px;
    color : #1975BA;

}

#ville{

    top : 81px;
    color : #EF9785;

}

/*Correspond au bloc du haut comprenant les barres de recherches adresses et villes*/

#hight{

/* Group 68 */

display: block;
position: static;
width: 100%;
height: 123px;
left: 20px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 15px 0px;

}

/*Correspond au bloc du milieu comprenant les résultats des recherches*/

#middle{

/* Frame 82 */


/* Auto Layout */

display: flex;
flex-direction: column;
justify-content: center;

padding: 0px;

position: absolute;
/*width: 375px;*/
height: 198px;
left: 0px;
top: 177px;
width : 100%;
  
}

/*Résultats*/

.result-location{

/* Frame 2 */

/* Auto Layout */

display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

position: static;
width: 299px;
height: 32px;
left: 38px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 10px 0px;
    
    
}

/*Icone localisation+ Texte lieu + Flèche lieu*/

.icon-and-text-and-arrow{
  
/* Frame 2 */

/* Auto Layout */

display: flex;
flex-direction: row;

align-items: center;
padding: 0px;
border-bottom: solid 2px black;
position: static;
width: 100vw;
height: 55px;
left: 38px;
top: 0px;
justify-content: space-between;

/* Inside Auto Layout */

flex: none;

margin: 10px 0px;
    
}

/*Bloc comprenant l'icone localisation + texte de résulats*/

.icon-and-text{

/* Frame 66 */

/* Auto Layout */

display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: static;
/*width: 189px;*/
height: 32px;
left: 0px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 0px 10px;
}

/*Texte de résultats*/

.location-text{

/* Frame 66 */


/* Auto Layout */

display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 137px;
/*height: 32px;*/
left: 52px;
top: 0px;


/* Inside Auto Layout */

flex: none;
order: 1;
flex-grow: 0;

}

/*Flèche orienté vers le bas */

.arrow{

    display : flex;
    position: absolute;
    left: 291px;
}



.location-icon{

    margin: 0px 40px;

}

/*-----ENREGISTREMENT-----*/

/*correspond au bloc enregistrer positionné tout en bas de la page*/

#register{

    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 100%;
height: 60px;
left: 0px;
top: 752px;

background: #0F4873;

}

#text-register{

/* Enregistrer */


position: absolute;
width: 124px;
height: 24px;
/*left: 125.5px;*/
top: 18px;

font-family: Sofia Pro;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 24px;
/* identical to box height */


color: #FFFFFF;

}


/*Ligne séparant le bloc du haut et celui du milieu*/

hr{

    border: none;
    border-top: solid 2px;
    color:black;
    overflow: visible;
    text-align: center;
  
    
    margin-left : 0;
    padding-left: 0;
}

.substract2{

/* Subtract */


position: static;
width: 12px;
height: 20px;
left: 0px;
top: 6px;

}

/*-----MEDIA QUERIES-----*/

@media screen and (min-width: 1024px){

    
   
    #hight{
        width : 100vw;
        align-items: center;
        justify-content: center;
    }

   
    #texteenregistrer{

        left: 40%;
    }

    hr{
        width : 100vw;
    }
}