/* -------------- IMPORT DES POLICES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');


/* -------------- CSS POUR L'ENSEMBLE DES PAGES -------------- */
body {
	font-family:'Work Sans', sans-serif;
	margin: 0;
}

button {
	font-family:'Work Sans', sans-serif;
	font-weight: 500;
	border: none;
	background: none;
	cursor: pointer;
}

/* -------------- BARRE DE NAVIGATION -------------- */

#navbar {
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 5px 6px -6px black;
	width: 100%;
	height: 7vh;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbar-link {
	font-size: 14px;
	margin: 0% 3%;
	width: 25%;
	text-align: center;
}

.navbar-link a {
	text-decoration: none;
	color: black;
	font-weight: 600;
}

.active-page {
    border-bottom: 2px solid black;
}
/* ----------------------- CONTENU PRINCIPAL ----------------------- */

#maincontent-container {
	height: 60vh;
	text-align: center;
	align-items: center;
	position: relative;
}
/* ------------------------ LOGO ET TITRE ------------------------ */
#logo-and-title{
	text-align: center;
}
#logo {
	margin-top: 5%;
}

#logo img {
	height: 18vh;
	width: auto;

}
#title {
	font-size: 32px;
}

/* ----------------- INFORMATIONS SUR L'UTILISATEUR ----------------- */

/* ----------------- Inputs pour les informations ----------------- */

::placeholder {
	font-family:'Work Sans', sans-serif;
}

.box input{
	border: none;
	border-bottom: 1px solid black;
	width: 90%;
	margin: auto;
	margin-top: 0.5%;
}

.box input:focus{
	outline: none;
}

#user_inputs {
	justify-content: center;
	align-items: center;
}

.box {
	border: 2px solid black;
	border-radius: 30px;
	font-size: 14px;
	margin-top: 10%;
	width: 80%;
	height: 4.5vh;
	margin-left: 8%;
}

#email-box {
	margin-top: 6%;

}


/* -------------------- Mot de passe oublié -------------------- */


#forgotten-password {
	margin-top: 1vh;
	text-align: right;
}

#forgotten-password a,
.popup a {
	text-decoration: none;
	margin-right: 12%;
}

#forgotten-link {
	color: #D1362D;
	cursor: pointer;
}

/* -------------------- Bouton pour soumettre -------------------- */

#submit-button{
	margin-top: 4vh;
	line-height: 200%;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
  	width: 50%;
}

.box a {
	text-decoration: none;
	color: black;
}

/* -------------------- Créer un compte -------------------- */

#create_account {
	margin: auto;
	margin-top: 3.5vh;
	width: 50%;
	padding-top: 3.5vh;
	border-top: 2px solid black;
	font-size: 14px;
}

#create_account p {
	margin: 0px;
}

#create_account a {
	color: black;
}


/* ------------------------- FOOTER ------------------------- */

footer {
	position: fixed;
	bottom: 0;
	background-color: white;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 -5px 6px -6px black;
	text-align: center;
	height: 10vh;
	width: 100%;	
	overflow: hidden;
}

footer img {
	width: auto;
	height: 70%;
	margin-right: 3%;
	margin: 3%;
}

footer a {
	text-decoration: none;
}

/* ------------------------- FENÊTRES MOT DE PASSE OUBLIÉ ------------------------- */

.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 20px;
	user-select: none;
	width: 90%;
	background-color: white;
	text-align: center;
	align-items: center;
	padding: 1% 2%;
	border: 1px solid black;
	font-size: 90%;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

#first-popup {
	opacity: 0;
	pointer-events: none;
	filter: blur(0px);
}

#first-popup h2, 
#first-popup input {
	margin-bottom: 2%;
}

#second-popup {
	opacity: 0;
	pointer-events: none;
	filter: blur(0px);
}

.popup h1 {
	margin: 2% 0%;
}

#buttons-div a {
	font-size: 16px;
	font-family:'Work Sans', sans-serif;
	border: none;
	background: none;
}

#yes-button {
	color: #0F4873;
	margin-left: 7%;
}

#no-button {
	color: #D62300;
}