/* -------------- IMPORT DES POLICES -------------- */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500&display=swap');



/* -------------- CSS POUR L'ENSEMBLE DES PAGES -------------- */

body {
	font-family:'Work Sans', sans-serif;
	margin: 0;
	text-align: left;
}

p {
	margin: 0px;
}

button {
	font-family:'Work Sans', sans-serif;
	font-weight: 500;
	border: none;
	background: none;
	cursor: pointer;
}

a {
	text-decoration: none;
	cursor: pointer;
}

h2 {
	font-weight: 600;
	margin: 0;
	margin-bottom: 3%;
}

h3 {
	font-weight: 600;
	margin: 0;
	font-size: 20px;
	margin-bottom: 1%;
}

/* -------------- BOUTON RETOUR -------------- */

#back-button {
	text-align: left;
	font-weight: 600;
	padding: 0;
}

/* -------------- LES SECTIONS -------------- */

.section {
	margin-bottom: 7%;
}

/* -------------- TYPES DE SERVICES -------------- */

#types-services {
	display: flex;
	flex-direction: row;
}

#types-services button{
	padding-top: 1%;
	background-color: #EEEEEE;
	border-radius: 10px;
	width: 40%; 
	margin-left: auto;
	margin-right: auto;
}

#types-services img{
	width: 20%;
}

/* -------------- PRIX -------------- */

#price-scale {
	margin-left: auto;
	margin-right: auto;
	width: 65%;
}

#price-scale input {
	width: 100%;
}

#price-overview {
	margin-top: -5%;
	display: flex;
	flex-direction: row;
}

#price-overview p:nth-child(2) {
	margin-left: auto;
}

